extends ../layout.pug

block content
  main.container
    div(style="display:flex;align-items:center;justify-content:center;height:calc(100vh - 100px)")
      div(style="max-width:750px")
        h3(style="margin-bottom:0;")
          figure(style="background-color:inherit;").avatar.avatar-lg
            img(src="/logo.svg", alt="Sunfish", title="Sunfish Email App")
          span(style="padding-left:10px;") #{t('LOGIN.APP', { app })}
        form(name="login",method="POST",action="/auth/login", autocomplete="off")
          .form-group
            label.form-label #{t('LOGIN.USERNAME')}
            input(type="text",name="username", autocomplete="off")
          .form-group
            label.form-label #{t('LOGIN.PASSWORD')}
            input(type="password",name="password")

          button(type="submit", data-add-loading).btn.btn-primary
            span #{t('LOGIN.SUBMIT')}

        <br />
        .toast.toast-success
          p #{t('LOGIN.NOTE')}

  script(type="text/javascript")
    include ../includes/forms.js
