extends ../layout.pug

block content
  main.container
    div(style="display:flex;align-items:center;justify-content:center; height:100vh")
      div(style="max-width:750px")
        h3 #{t('LOGIN.APP', { app })}
        form(name="login",method="POST",action="/auth/login", autocomplete="off")
          .form-group
            label.form-label #{t('LOGIN.USERNAME')}
            input(type="text",name="username", autocomplete="off")
          .form-group
            label.form-label #{t('LOGIN.PASSWORD')}
            input(type="password",name="password")

          button(type="submit", data-add-loading).btn.btn-primary
            span #{t('LOGIN.SUBMIT')}

        <br />
        .toast.toast-success
          p #{t('LOGIN.NOTE')}

  script(type="text/javascript")
    include ../includes/forms.js
