doctype html
html
  head
    if title
      title #{title}
    else
      title #{app.name}
    style
      include ../node_modules/spectre.css/dist/spectre.min.css
      include ../node_modules/spectre.css/dist/spectre-icons.min.css

    style.
      body { background-color : #efefef; }

      /* modification to make invisible cells collapse */
      .d-invisible {
        height: 0px;
      }

  body
    if user
      header(style="padding:0.75em").navbar
        section.navbar-section
          a(href="/").navbar-brand.mr-2 #{app.name}
          a(href="/schedules").btn.btn-link Schedules

        section.navbar-section
          a(href="/auth/logout").btn.btn-link Log Out

    section.toasts
      if messages.failure
        .toast.toast-error #{messages.failure}
      if messages.success
        .toast.toast-success #{messages.success}
      if messages.error
        .toast.toast-error #{messages.error}

    block content
