doctype html
html
  head
    if title
      title #{title}
    else
      title #{app.name}
    style
      include ../node_modules/spectre.css/dist/spectre.min.css
      include ../node_modules/spectre.css/dist/spectre-icons.min.css

    style.
      body { background-color : #efefef; }

      /* modification to make invisible cells collapse */
      .d-invisible {
        height: 0px;
      }

  body
    if user
      header(style="padding:0.75em").navbar
        section.navbar-section
          figure(style="background-color:inherit;").avatar.avatar-lg.navbar-brand
            img(src="/logo.svg", alt="Sunfish", title="Sunfish Email App")

          a(href="/schedules").btn.btn-link #{t('SCHEDULES.TITLE')}

        section.navbar-section
          a(href="/auth/logout").btn.btn-link #{t('LOGIN.LOGOUT')}

    section.toasts
      if messages.failure
        .toast.toast-error #{messages.failure}
      if messages.success
        .toast.toast-success #{messages.success}
      if messages.error
        .toast.toast-error #{messages.error}

    block content

    section(style="padding:1em;")
      p.
        Icons made by #[a(href="https://www.freepik.com/", title="Freepik") Freepik]
        from #[a(href="https://www.flaticon.com/", title="Flaticon") www.flaticon.com]
        is licensed by
        #[a(href="http://creativecommons.org/licenses/by/3.0/", title="Creative Commons BY 3.0", target="_blank") CC 3.0 BY].
