extends ./layout.pug

block content
  main.container
    div(style="display:flex;align-items:center;justify-content:center;height:calc(100vh - 100px)")
      div(style="max-width:950px")

        h3(style="margin-bottom:0;")
          figure(style="background-color:inherit;").avatar.avatar-lg
            img(src="/logo.svg", alt="Sunfish", title="Sunfish Email App")
          span(style="padding-left:10px;") #{t('INSTALL.APP', { app })}

        .toast.toast-danger
          p #{t('INSTALL.INSTRUCTIONS')}

        form(name="install", method="POST", action="/setup", autocomplete="off")
          .form-group
            label.form-label #{t('INSTALL.DHIS2_URL')}
            input(type="url",name="server", autocomplete="off",required, placeholder="https://demo.dhis2.org/api/")
          .form-group
            label.form-label #{t('INSTALL.USERNAME')}
            input(type="text",name="username", autocomplete="off",required, placeholder="demo")
          .form-group
            label.form-label #{t('INSTALL.PASSWORD')}
            input(type="password",name="password",required)

          button(type="submit", data-add-loading).btn.btn-primary
            span #{t('INSTALL.SUBMIT')}

        <br />

  script(type="text/javascript")
    include ./includes/forms.js
