extends ../layout.pug

mixin formItem(label, value)
  .tile.tile-centered
    .tile-content
      p.tile-title
        strong #{t(label)}
      p.tile-subtitle #{value}
  br

block content
  .container
    .columns
      .column.col-4
        .panel
          .panel-header
            .panel-title #{t('SCHEDULES.OVERVIEW')}
          .panel-body
            +formItem("SCHEDULES.SUBJECT", schedule.subject)

            .tile.tile-centered
              .tile-content
                .tile-title
                  strong #{t('SCHEDULES.BODY')}
                .panel
                  .panel-body
                    div(style="white-space: pre-wrap; padding:0.25em;") #{schedule.body}
            br

            +formItem("SCHEDULES.FREQUENCY", schedule.cron)

            +formItem("SCHEDULES.GROUP", schedule.userGroupName)


            .tile.tile-centered
              .tile-content
                p.tile-title
                  strong #{t('SCHEDULES.DASHBOARDS')}
                p.title-subtitle
                  each dashboard in schedule.dashboards
                    span.d-block
                      a(href="#", title=dashboard.name) #{dashboard.name}

      .column.col-4
        .panel
          .panel-header
            .panel-title #{t('SCHEDULES.LOG')}
          .panel-body
            l#event-output

    script(type="text/javascript")
      include ../includes/event-stream.js
