extends ../layout.pug

block content
  .container
    .columns
      .column.col-12
        table.table.table-striped
          thead
            tr
              th Email Subject
              th Last Run
              th Next Run
              th Dashboards
              th User Group
              th Created
              th(colspan=3) Actions
          tbody
            each row in schedules
              tr
                td #{row.subject}
                td(title=row.lastRunTime)
                  if row.lastRunTime
                    i #{row.lastRunTimeLabel}
                  else
                    i ---
                td(title=row.nextRunTime)
                  i #{row.nextRunTimeLabel}
                td(title=row.fmtDashboards) #{row.fmtDashboards}
                td(title=row.userGroup.id) #{row.userGroup.displayName}
                td(title=row.created) #{row.createdLabel}
                td
                  - const detailUrl = `/schedules/${row.id}/details`;
                  a(href=detailUrl, data-tooltip="View the schedule").tooltip View
                td
                  - const triggerUrl = `/schedules/${row.id}/trigger`;
                  a(href=triggerUrl, data-tooltip="Trigger a run of the schedule").tooltip Trigger
                td
                  - const url = `/schedules/${row.id}/delete`;
                  a(href=url, data-tooltip="Deletes the tooltip.\nWarning! This cannot be undone.").tooltip.tooltip-left Delete


        unless schedules.length
          .empty
            .empty-icon
              i.icon.icon-3x.icon-bookmark
            p.empty-title.h4 There are no schedules registered
            p.empty-subtitle Click the "add a new schedule" button to create your first schedule

        br
        a(href="schedules/create", data-add-loading).btn.btn-primary Add a new Schedule
        .float-right
          a(href="datasources/refresh", data-add-loading).btn.btn-primary Refresh Data Sources
