<!DOCTYPE html>
<html>
<head>
  <title>{{ report.title }}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="http://unpkg.com/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style>
    .container {
      width: 100%
      max-width: 1600px;
    }
    .cx-title {
      padding-top: 0;
      margin-top: 0;
      text-align: center;
    }

    .cx-annotation {
      text-align: right;
    }

    .cx-hr {
      border: 0;
      height: 1px;
      background : black;
      margin-top: 0;
      margin-bottom: 0.25em;
    }

    .row {
      page-break-inside: avoid;
    }

    .row img {
      margin : 5px;
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <header class="container">
    <div class="row" style="position: relative">
      <div class="one-half column">
        <img src="{{context.path}}/scribe-templates/images/logo.jpg" alt="IMA World Health Logo" />
      </div>


      <div class="one-half column cx-annotation" style="position: absolute; bottom:0; right: 0;">
        <strong>DHIS2</strong> | {{ report.date}}
      </div>
    </div>

    <hr class="cx-hr" />
  </header>

  <section class="container">
    <h5 class="cx-title">{{ report.title }}</h5>
  </section>

  <main class="container">
    {{#each report.tables as |table|}}
      <div class="row">
        <label style="font-size: 1.25em;">{{table.label}}</label>
        <img src="{{table.uri}}" />
      </div>
    {{else}}
      <p style="text-align:center">No tables found to render.</p>
    {{/each}}

    {{#each report.graphs as |pair|}}
      <div class="row">
        {{#each pair as |img|}}
          {{#if img}}
            <div class="one-half column">
              <img src="{{img}}" />
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </main>
</body>
</html>
